#drawing {
    border: solid;
    border-radius: 25px;
    margin-left: 290px;
    margin-top: 20px;
    box-shadow: 5px 10px #a5a9af;
}

/*
#drawing {
    position: relative;
    margin-left: 80px; 
    border: solid; 
    border-radius: 25px; 
    width: 80%; 
    height: 100%;
}
*/